node_modules
docker/node_modules
docker/package-lock.json
dist
.expo
web-build
.git
.gitignore
.vscode
*.md
!README.md
.env*.local
android
ios
app-example
npm-debug.*
yarn-debug.*
yarn-error.*
.DS_Store
*.pem
